In [68]:
import pandas as pd
from collections import Counter
from icecream import ic

In [69]:
file = "test.dat"
file = "day.dat"
lines = open(file,'r').read().split('\n')
columns = ['hand','bid']
df = pd.DataFrame([s.split(" ") for s in lines], columns=columns)
df

      hand  bid
0    TQA26   14
1    66656  612
2    JK3JT  442
3    A6QQA  214
4    Q3777  131
..     ...  ...
995  J2T55  542
996  763K2  723
997  QQQJQ  867
998  QQQQA  506
999  J7777  154

[1000 rows x 2 columns]

In [72]:
hand_type = {7: 'Five of a kind', 6: 'Four of a kind', 5: 'Full house', 
             4: 'Three of a kind', 3: 'Two pair', 2: 'One pair', 1: 'High card'}
df['count'] = [list(dict(Counter(hand).most_common(2)).values()) for hand in df['hand']]
for row in df.itertuples():
    if 5 in row.count:
        df.at[row.Index, 'hand_type'] = 7
        df.at[row.Index, 'hand_type_text'] = hand_type[7]
    elif 4 in row.count:
        df.at[row.Index, 'hand_type'] = 6
        df.at[row.Index, 'hand_type_text'] = hand_type[6]
    elif 3 in row.count and 2 in row.count:
        df.at[row.Index, 'hand_type'] = 5
        df.at[row.Index, 'hand_type_text'] = hand_type[5]
    elif 3 in row.count:
        df.at[row.Index, 'hand_type'] = 4
        df.at[row.Index, 'hand_type_text'] = hand_type[4]
    elif row.count == [2,2]:
        df.at[row.Index, 'hand_type'] = 3
        df.at[row.Index, 'hand_type_text'] = hand_type[3]
    elif 2 in row.count:
        df.at[row.Index, 'hand_type'] = 2
        df.at[row.Index, 'hand_type_text'] = hand_type[2]
    else:
        df.at[row.Index, 'hand_type'] = 1
        df.at[row.Index, 'hand_type_text'] = hand_type[1]
df

      hand  bid   count  hand_type   hand_type_text
0    TQA26   14  [1, 1]        1.0        High card
1    66656  612  [4, 1]        6.0   Four of a kind
2    JK3JT  442  [2, 1]        2.0         One pair
3    A6QQA  214  [2, 2]        3.0         Two pair
4    Q3777  131  [3, 1]        4.0  Three of a kind
..     ...  ...     ...        ...              ...
995  J2T55  542  [2, 1]        2.0         One pair
996  763K2  723  [1, 1]        1.0        High card
997  QQQJQ  867  [4, 1]        6.0   Four of a kind
998  QQQQA  506  [4, 1]        6.0   Four of a kind
999  J7777  154  [4, 1]        6.0   Four of a kind

[1000 rows x 5 columns]

In [75]:
score_face = {'A': 14, 'K': 13, 'Q': 12, 'J': 11, 'T': 10}
df['score'] = [[score_face.get(face, face) for face in hand] for hand in df['hand']]
df

      hand  bid   count  hand_type   hand_type_text                 score
0    TQA26   14  [1, 1]        1.0        High card    [10, 12, 14, 2, 6]
1    66656  612  [4, 1]        6.0   Four of a kind       [6, 6, 6, 5, 6]
2    JK3JT  442  [2, 1]        2.0         One pair   [11, 13, 3, 11, 10]
3    A6QQA  214  [2, 2]        3.0         Two pair   [14, 6, 12, 12, 14]
4    Q3777  131  [3, 1]        4.0  Three of a kind      [12, 3, 7, 7, 7]
..     ...  ...     ...        ...              ...                   ...
995  J2T55  542  [2, 1]        2.0         One pair     [11, 2, 10, 5, 5]
996  763K2  723  [1, 1]        1.0        High card      [7, 6, 3, 13, 2]
997  QQQJQ  867  [4, 1]        6.0   Four of a kind  [12, 12, 12, 11, 12]
998  QQQQA  506  [4, 1]        6.0   Four of a kind  [12, 12, 12, 12, 14]
999  J7777  154  [4, 1]        6.0   Four of a kind      [11, 7, 7, 7, 7]

[1000 rows x 6 columns]